<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form method="POST">
        {% csrf_token %}
        <label>
            <input type="text" name="username" placeholder="Имя пользователя">
            <input type="password" name="password" placeholder="Пароль">
            <input type="text" name="phone_number" placeholder="Номер телефона">
        </label><br>
        <input type="submit" value="Зарегистрироваться">
    </form>
</body>
</html>